body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:371px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2306_div {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:38px;
  background:inherit;
  background-color:rgba(0, 153, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2306 {
  position:absolute;
  left:16px;
  top:254px;
  width:355px;
  height:38px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2307 {
  position:absolute;
  left:2px;
  top:10px;
  width:351px;
  word-wrap:break-word;
}
#u2308 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2309_div {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:left;
}
#u2309 {
  position:absolute;
  left:16px;
  top:90px;
  width:355px;
  height:38px;
  color:#CCCCCC;
  text-align:left;
}
#u2310 {
  position:absolute;
  left:2px;
  top:11px;
  width:351px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2311 {
  position:absolute;
  left:17px;
  top:93px;
  width:346px;
  height:32px;
}
#u2311_input {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u2312 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2313_div {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:left;
}
#u2313 {
  position:absolute;
  left:16px;
  top:145px;
  width:355px;
  height:38px;
  color:#CCCCCC;
  text-align:left;
}
#u2314 {
  position:absolute;
  left:2px;
  top:11px;
  width:351px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2315 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2316_div {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:left;
}
#u2316 {
  position:absolute;
  left:16px;
  top:199px;
  width:355px;
  height:38px;
  color:#CCCCCC;
  text-align:left;
}
#u2317 {
  position:absolute;
  left:2px;
  top:11px;
  width:351px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2318 {
  position:absolute;
  left:17px;
  top:203px;
  width:346px;
  height:32px;
}
#u2318_input {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u2319_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2319 {
  position:absolute;
  left:20px;
  top:337px;
  width:85px;
  height:16px;
}
#u2320 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u2321 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2322 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2323_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:22px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2323 {
  position:absolute;
  left:328px;
  top:336px;
  width:35px;
  height:22px;
}
#u2324 {
  position:absolute;
  left:2px;
  top:3px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2325_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2325 {
  position:absolute;
  left:342px;
  top:337px;
  width:20px;
  height:20px;
}
#u2326 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2327_img {
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:2px;
}
#u2327 {
  position:absolute;
  left:16px;
  top:316px;
  width:355px;
  height:1px;
}
#u2328 {
  position:absolute;
  left:2px;
  top:-8px;
  width:351px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2329_div {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
#u2329 {
  position:absolute;
  left:20px;
  top:367px;
  width:351px;
  height:34px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
#u2330 {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  word-wrap:break-word;
}
#u2331_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:center;
  line-height:45px;
}
#u2331 {
  position:absolute;
  left:147px;
  top:26px;
  width:73px;
  height:45px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:center;
  line-height:45px;
}
#u2332 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2333_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2333 {
  position:absolute;
  left:13px;
  top:36px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2334 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2335 {
  position:absolute;
  left:17px;
  top:148px;
  width:346px;
  height:32px;
}
#u2335_input {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
